/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'opendyslexic';
  src: url('../fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../fonts/OpenDyslexic-Italic.otf') format('opentype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../fonts/OpenDyslexic-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

:root {
  --bs-primary: #238b44;
  --bs-font-sans-serif: 'Poppins', sans-serif;
  --light: #105295;
}

[data-bs-theme="contrast"] {
  --bs-primary: #238b44;
}

[data-font-theme="dyslexic"] {
  --bs-font-sans-serif: "opendyslexic", sans-serif;
  --bs-font-monospace: "opendyslexic", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--bs-font-sans-serif);
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-font-sans-serif);
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.bg-light {
  background-color: green;
}

.header-background {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.bg-feature-card {
  background: linear-gradient(20deg, #ffe0d3, white, white);
}

.main-background {
  background-image: url('../images/shiny1.webp');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.deuteranopia {
  filter: url('#deuteranopia-filter');
}

.protanopia {
  filter: url('#protanopia-filter');
}

.tritanopia {
  filter: url('#tritanopia-filter');
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.svg-filter {
display: none;
}